<section class="field restrict-replies">
  <h3>{{i18n "restricted_replies.title"}}</h3>
  <label>
    {{input type="checkbox" checked=category.custom_fields.restrict_replies}}
    {{i18n "restricted_replies.for_category"}}
  </label>
  {{#if category.custom_fields.restrict_replies}}
    <MultiSelect
      @content={{groups}}
      @allowAny={{false}}
      @value={{category.custom_fields.restrict_replies_bypass_groups}}
      @onSelect={{action
        (mut category.custom_fields.restrict_replies_bypass_groups)
      }}
    />
  {{/if}}
</section>